.bold-list li {
    font-weight: bold;
  }

  .navbar-line {
    width: calc(100% - 25rem); /* Adjust the width as per your design */
    height: 1px;
    background-color: #5d5f5f; /* Adjust color as per your design */
    margin: 0 auto; /* Center the line horizontally */
  }
  